<section class="container">
	<div class="container text-center">
		{{if .Site.Params.hero.enabled }}
		<img src='{{ .Site.Params.hero.img | absURL }}' title="Pierluigi & Sara!" width="600px" />
		{{end}}
		<div class="welcome">
			<h1><b>Pierluigi & Sara</b></h1>
			<h2>Si sposano!</h2>
			<h3>28 Maggio 2022</h3> 
		</div>
		<!-- <div class="bg-white">
			<span style="font-size: 24px; color: Dodgerblue;">
				<a href="{{ .Site.Params.paypalme }}"><i class='fa fa-paypal'></i></a>
			  </span>
			<span style="font-size: 24px; color: Dodgerblue;">
				<a href="{{ .Site.Params.gitlab }}"><i class='fa fa-gitlab'></i></a>
			</span>
			<span style="font-size: 24px; color: Dodgerblue;">
				<a href="mailto:{{ .Site.Params.email }}"><i class="fa fa-at"></i></a>
			</span>
			<span style="font-size: 24px; color: Dodgerblue;">
			<a href="{{ "index.xml" | absURL }}"><i class="fas fa-rss"></i></a>
			</span>
    </div> -->
	</div>
</section>