<nav class="navbar text-center sticky-top bg-white mt-2 mb-5">
    <a href='{{ .Site.BaseURL }}'><span class="btn btn-sm btn-outline-primary">Home</span></a>
    <a href='{{ "wedding" | absURL }}'><span class="btn btn-sm btn-outline-secondary">Luoghi</span></a>
    <a href='{{ "registry" | absURL }}'><span class="btn btn-sm btn-outline-success">Contribuire</span></a>
    <a href='{{ "about" | absURL }}'><span class="btn btn-sm btn-outline-warning">About</span></a>
    <a href="https://dislack.com/f/61db623403d0bc348804ef71"><span class="btn btn-sm btn-outline-primary">RSVP</span></a>
</nav>
